1. Purpose:
- The script connects to a MySQL database, fetches data from a table (x$user_summary), and converts the results into a pandas DataFrame for further analysis.

- Imports:

```python

import mysql.connector
from sqlalchemy import create_engine
import pandas as pd
import warnings
```
- mysql.connector: For connecting to the MySQL database.
- pandas: For handling and analyzing tabular data.
- warnings: Suppresses warnings to keep the output clean.
---
2. Database Connection:

```python

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="$$$$$*s****",
    database="sys"
)
```
- Establishes a connection to the MySQL server with user credentials.
---
3. Fetching Data Using Pandas:

```python


df = pd.read_sql("SELECT * FROM x$user_summary", con=connection)
```
- Executes the SQL query to fetch data from the x$user_summary table and loads it into a pandas DataFrame.
Displaying Data:

```python
df.head()
```
- Displays the first few rows of the fetched data for a quick preview.
---
### Commented-Out Code:
4. Direct Execution with mysql.connector:

```python

cursor = connection.cursor()
cursor.execute("SELECT * FROM x$user_summary;")
rows = cursor.fetchall()
for row in rows:
    print(row)
```    
- This shows an alternate method of fetching and printing data row-by-row, but itâ€™s not as efficient as using pandas for large datasets.
---
5. Resource Management:

```python

cursor.close()
connection.close()
```
- Ensures proper closure of the database cursor and connection (commented out but should be used in real implementations).Database Connection:

python
Copy
Edit
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="$$$$$*s****",
    database="sys"
)
Establishes a connection to the MySQL server with user credentials.Database Connection:

python
Copy
Edit
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="$$$$$*s****",
    database="sys"
)
Establishes a connection to the MySQL server with user credentials.Database Connection:

python
Copy
Edit
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="$$$$$*s****",
    database="sys"
)
Establishes a connection to the MySQL server with user credentials.

In [32]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

# database user connection details
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    .
    password="$$$$$*s****",
    database="sys"
)
'''
cursor = connection.cursor()

cursor.execute("SELECT * FROM x$user_summary;")
rows = cursor.fetchall()
for row in rows:
    print(row)
'''
df = pd.read_sql("SELECT * FROM x$user_summary", con=connection)

# Display the DataFrame
df.head()  # Display the first few rows of the DataFrame

#cursor.close()
#connection.close()

,user,statements,statement_latency,statement_avg_latency,table_scans,file_ios,file_io_latency,current_connections,total_connections,unique_hosts,current_memory,total_memory_allocated
0,root,423.0,1.790711e+12,4.233359e+09,42.0,167.0,2.712669e+11,5.0,26.0,1,10632041.0,1.051565e+09
1,background,0.0,0.000000e+00,0.000000e+00,0.0,2888.0,4.616203e+12,36.0,48.0,0,2181374.0,6.772057e+07
2,event_scheduler,0.0,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,1.0,1.0,1,16665.0,1.666500e+04