In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-visualisation-for-beginners/Electricity Connections.csv

In [5]:
# load data
dt = pd.read_csv("/kaggle/input/data-visualisation-for-beginners/Electricity Connections.csv")
dt.head()

,Districts,Domestic Connections,Industrial Connections,Agriculture Connections,Commercial Connections,Other Connections
0,ADILABAD,151936,1074,17948,14641,3302
1,BHADRADRI,272987,1396,29951,25990,5911
2,HYDERABAD,1469633,13041,86,324781,18987
3,JAGTIAL,267097,2132,113165,23109,6499
4,JANGAON,148566,1536,80002,11366,4432