In [10]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/online-retails-sale-dataset/Online Retail.csv

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# load data
dataframe = pd.read_csv("/kaggle/input/online-retails-sale-dataset/Online Retail.csv")
dataframe.head()

,InvoiceNo,InvoiceDate,InvoiceTime,StockCode,Description,Quantity,UnitPrice,Totalsale,CustomerID,Country
0,536365,01-12-2010,08:26:00 AM,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850.0,United Kingdom
1,536365,01-12-2010,08:26:00 AM,71053,WHITE METAL LANTERN,6,3.39,20.34,17850.0,United Kingdom
2,536365,01-12-2010,08:26:00 AM,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,22.00,17850.0,United Kingdom
3,536365,01-12-2010,08:26:00 AM,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,20.34,17850.0,United Kingdom
4,536365,01-12-2010,08:26:00 AM,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,20.34,17850.0,United Kingdom

In [13]:
# Data at the tail end
dataframe.tail()

,InvoiceNo,InvoiceDate,InvoiceTime,StockCode,Description,Quantity,UnitPrice,Totalsale,CustomerID,Country
541904,581587,09-12-2011,12:50:00 PM,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,10.20,12680.0,France
541905,581587,09-12-2011,12:50:00 PM,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12.60,12680.0,France
541906,581587,09-12-2011,12:50:00 PM,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,16.60,12680.0,France
541907,581587,09-12-2011,12:50:00 PM,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,16.60,12680.0,France
541908,581587,09-12-2011,12:50:00 PM,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,14.85,12680.0,France

In [15]:
# data frame shape
dataframe.shape

(541909, 10)

In [16]:
# checking for missing values
dataframe.isnull().sum()

InvoiceNo           0
InvoiceDate         0
InvoiceTime         0
StockCode           0
Description      1454
Quantity            0
UnitPrice           0
Totalsale           0
CustomerID     135080
Country             0
dtype: int64

In [18]:
# checking duplicates
dataframe.duplicated().sum()

5268

In [19]:
dataframe.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
Totalsale,541909.0,17.987795,378.810824,-168469.60,3.40,9.75,17.40,168469.6
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0