<a href="https://colab.research.google.com/github/mngugi/Code_3_Camp/blob/main/reviewPythonClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# print ("string output")
print("Anything")

#variables
fav_food = "Ugali Nyama"

#add
Age = 20 #int
pi = 3.14 #float

print(type(Age))
print(type(pi))

print(type(Age + pi))

Anything
<class 'int'>
<class 'float'>
<class 'float'>

In [3]:
multiline_string = '''
New Kaggle Notebooks <> Colab updates! Now you can:

    Import directly from Colab without having to download/re-upload

'''

multiline_string

'\nNew Kaggle Notebooks <> Colab updates! Now you can:\n\n    Import directly from Colab without having to download/re-upload\n\n'

In [4]:
# escape string

escape_str = "he said: \"python si ya mamako\""
escape_str

'he said: "python si ya mamako"'

In [5]:
# Concatenate strings using the + operator
escaped_str = "Hello, "
multiline_string = """world!
How are you today?"""
result = escaped_str + multiline_string

# Print the result
print(result)

Hello, world!
How are you today?

In [6]:
# extrapolate
name1 = 'hot'
name2 = 'cold'
names = f'"{name1}{name2}"'
names

'"hotcold"'

In [7]:
name = "Ten Hag"
print(name[4:6])

Ha

In [8]:
name = "Montey python"
print(name[:5])

Monte

In [9]:
a = True
b = False

if a is True and b is False:
  print("yay")

yay

In [10]:
from pickle import APPEND
list: [1,2,3,4,5]
mult_types = [True, 3.7, "Python", 15]

fav_food = ["Pasta", "Toast", "Githeri"]
fav_food[0] = "Beef"

print(fav_food[1:3])
print(fav_food[2:2])

import numpy as np

#APPEND
fav_food = ["roast", "pizza", "frenchfries"]
fav_food.append("paste")

fav_food.insert(1 , "Soup")
fav_food

fav_food.remove("pizza")
fav_food

print(len(fav_food))

['Toast', 'Githeri']
[]
4

In [11]:
fav_drinks = ["juice", "milk", "water"]
print(fav_food, fav_drinks)
fav = ['roast', 'Soup', 'frenchfries', 'paste','juice', 'milk', 'water']
print(fav[1][2])

['roast', 'Soup', 'frenchfries', 'paste'] ['juice', 'milk', 'water']
u

In [12]:
fruits = ["apple", "banana", "orange"]

new_fruits = [fruits.upper() for fruits in fruits]
new_fruits

['APPLE', 'BANANA', 'ORANGE']

In [13]:
# tupples

new_tuple = ("a","b","c", "d", "e","f","g" )
print(len(new_tuple))
print(new_tuple[1:4])

print(new_tuple[:3])

7
('b', 'c', 'd')
('a', 'b', 'c')

In [14]:
#dictionaries
langauages_creator = {
        "Java" : "— James Gosling.",
        "C": " — Dennis Ritchie",
    "JavaScript" : " — Brendan Eich",
    "Python": "— Guido van Rossum",
    "C++": "— Bjarne Stroustrup",
    "PHP" : "— Rasmus Lerdorf",
    "Perl" : "— Larry Wall",
    "Ruby" : "— Yukihiro Matsumoto."



}

print(langauages_creator.keys())
print(langauages_creator.values())

dict_keys(['Java', 'C', 'JavaScript', 'Python', 'C++', 'PHP', 'Perl', 'Ruby'])
dict_values(['— James Gosling.', ' — Dennis Ritchie', ' — Brendan Eich', '— Guido van Rossum', '— Bjarne Stroustrup', '— Rasmus Lerdorf', '— Larry Wall', '— Yukihiro Matsumoto.'])

In [15]:
#set

fruits1 = {"apple", "banana", "orange"}
fruits2 = {"mango", "dragonFruit", "orange"}

fruits1.add("sugarcane")
print(fruits1)

item = fruits1.pop()
print(item)
print(fruits1)

{'sugarcane', 'banana', 'apple', 'orange'}
sugarcane
{'banana', 'apple', 'orange'}

In [16]:
fruits1.discard("banana")
print(fruits1)

{'apple', 'orange'}

In [17]:
all_fruits = fruits1.union(fruits2)
all_fruits

{'apple', 'dragonFruit', 'mango', 'orange'}

In [18]:
# if

age = 36

if age > 36:
  print("acha kudate")

elif age >= 36 and age < 69:
  print("wewe ni mbabaz")

else  :
  print("Wewe ni guks")

wewe ni mbabaz

In [31]:
# harsh for comments

#breake terminate a loop early or prematurely

nums = [1,2,3,4,5]

for n in nums:
    if nums == 3:
        break
    elif nums == 2 :
        continue

print(nums)

#try catch

try:
  result = 10/0

except ZeroDivisionError:
  print("Division by zero error!")
else:
  print("result", result)

finally:
  print("Execution Complete!")


try:

  x = int (input("Enter number:"))
except ValueError:
  print("This is not a valid number")
finally:
  print("Thank you for playing!")
x = int (input("Enter number:"))
'''
if not x.isdigit():
     raise ValueError("This not a valid number!")
     '''

[1, 2, 3, 4, 5]
Division by zero error!
Execution Complete!
Enter number:2
Thank you for playing!
Enter number:2

'\nif not x.isdigit():\n     raise ValueError("This not a valid number!") \n     '

In [34]:
# file open

file = open("data.txt", "a+")
file.write("Hi tupu")
file.seek(0)
print(file.read())
file.close()


if 1==2:
  print("first")
elif 4==4:
  print('second')
elif 2==3:
  print('middle')
else:
  print('Last')

Hi tupuHi tupu
second

In [51]:
# for and while loop

for x in ["apple", "banana", "orange"]:
  print(x)

print('----------\n')
langauages_creator =   langauages_creator = {
        "Java" : "— James Gosling.",
        "C": " — Dennis Ritchie",
    "JavaScript" : " — Brendan Eich",
    "Python": "— Guido van Rossum",
    "C++": "— Bjarne Stroustrup",
    "PHP" : "— Rasmus Lerdorf",
    "Perl" : "— Larry Wall",
    "Ruby" : "— Yukihiro Matsumoto."


}
print('----------\n')
for key, value in langauages_creator.items():
    print("Language: {}; Creator: {}".format(key, value))

print('----------\n')
for i in range(4,10,2):
  print(i)

print('----------\n')
for j in range(5):
  print(j, j**2)


print('----------\n')

numbers = [1,2,3,4,5]
for b in range(len(numbers)):
  print(b, numbers[b])

apple
banana
orange
----------

----------

Language: Java; Creator: — James Gosling.
Language: C; Creator:  — Dennis Ritchie
Language: JavaScript; Creator:  — Brendan Eich
Language: Python; Creator: — Guido van Rossum
Language: C++; Creator: — Bjarne Stroustrup
Language: PHP; Creator: — Rasmus Lerdorf
Language: Perl; Creator: — Larry Wall
Language: Ruby; Creator: — Yukihiro Matsumoto.
----------

4
6
8
----------

0 0
1 1
2 4
3 9
4 16
----------

0 1
1 2
2 3
3 4
4 5